

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */

    .menu span {
        width: 50px;
        height: 50px;
    }

    .menu{
        right: 25px;
        top: 10px;
        position: absolute;
    }

    .logoImg{
        width: 11%;
        height: auto;
        top: 105px;
        left: -45px;
        position: absolute;
    }

    .headerTop h1{
        margin-top: 45px;
        margin-left: 100px;
        font-size: 26px;
    }

    .headerTop h3{
        margin-left: -100px;
        font-size: 10px;
    }

    .home{
        position: absolute;
        top: 130px !important;
        max-height: 640px;
        overflow: hidden;
        width: auto; 
    }

    .menu .menuContent{
        position: absolute;
        width: 820px;
        height: 75%;
        margin-top: -10px;
    }

    .menu .menuContent ul a {
        margin-right: -10px;
    }

    .menu .menuContent ul{
        margin-right: -20px;
    }

    .menu.active {
        width: 675px;
    }

    .hm{
        margin-top: -200px;
    }

    .homeText{
        margin-left: 300px;
    }

    #bottomFoot{
        margin-left: 15px;
    }

  }