@media (min-width: 1025px) and (max-width: 1280px)  {
    .menu .menuContent{
        position: absolute;
        width: 835px;
        height: 100%;
    }

    .menu .menuContent ul a {
        margin-right: -7px;
    }

    .menu.active {
        width: 725px;
    }

    section{
        width: 1285px;
        margin-left: -175px;
        overflow: hidden;
    }

    .logoImgNew{
        margin-top: -95px;
        margin-left: 17px;
    }
    
    .breadcrumb{
        margin-left: -105px !important;
        padding-left: 0 !important;
    }

    #myCarousel{
        margin-top: -885px !important;
    }
}